.footer-container {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p, .footer-section a {
  color: #fff;
  margin: 3px 0;
  text-decoration: none;
}

.footer-section a:hover {
  color: #00aced; /* Facebook blue on hover */
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
}